@font-face {
    font-family: 'Helvetica Neue';
    src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?34496544');
  src: url('../fonts/fontello.eot?34496544#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?34496544') format('woff2'),
       url('../fonts/fontello.woff?34496544') format('woff'),
       url('../fonts/fontello.ttf?34496544') format('truetype'),
       url('../fonts/fontello.svg?34496544#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon {
    display: inline-block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 80%;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
  line-height: 1em;
 
  margin-left: .2em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-off:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-pencil-1:before { content: '\e804'; } /* '' */
.icon-picture-outline:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-block:before { content: '\e808'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */


html {
    height: 100%;
    font-size: 17px;
}

body {
    margin: 0px;
    padding-top: 2.7rem;
    height: 100%;
    overflow: hidden;

    /*background-color: #F4F4ED;*/
    /*font: normal 1em/1.3 "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;*/
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    /*color: #47484f;*/
    color: #39393E;
    word-wrap: break-word;
}

h1 {
    white-space: nowrap;
    font-size: 1.7rem;
    overflow: hidden;
}

h1:first-child:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    margin-left: 1rem;
    background: #dde3e8;
}

h1, h2, h3 {
    color: #393939;
    clear: both;
}

p, h1, h2, h3, li {
}

p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
    line-height: 1.4rem;
}

ol, ul {
    font-size: 1rem;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

em {
    color: #3492E9;
}

strong {
    font-weight: bold;
}

img {
    text-align: center;
    margin: 0 auto;
    max-width: 640px;

    background-color: white;
    padding: 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    font-size: 0.8rem;
}

blockquote {
    border-left: 8px solid #DBDFE1;
    padding: 1.5rem 1.5rem 0.5rem;
    margin: 0;
    margin-bottom: 1em;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background-color: #EFF1F4;
}

blockquote img {
    background-color: transparent;
}

body, #article, #search, #search-input, #contentwrapper, #content, #verticalmenu, .menuitem, .menuitem_group {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

/* TITLE ----------------------------------------*/

.title i {
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    position: relative;
    margin: 0px 8px 0px 0px;
    background-size: 7.8rem;
    vertical-align: middle;

}

.title {
    padding-left: 5px;
}

.title .divider {
    opacity: 0.3;
    margin: 0px 6px;
}

/* CODE HIGLIGHT --------------------------------*/

p code {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    font-size: 1rem;
    font-weight: normal;
    border: 1px solid #C9CAC3;
}

pre code {
    color: #669081;
}

/* MATHJAX --------------------------------------*/

.MathJax .math {
    padding: 10px;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
￼   -webkit-border-radius: 5px;

    font-size: 15pt;
}

    
/* HADER ----------------------------------------*/

#header {
    background-color: #f0f0f0;
    height: 2.7rem;
    left: 0;
    line-height: 2.7rem;
    position: fixed;
    right: 0;
    border-bottom: 1px solid #d9d9d9;
    top: 0;
    z-index: 6;
}

#header:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: inherit;
}

#header-action-bar {
    position: relative;
    z-index: 50;
    float: right;
    display: inline-block;
    padding-right: 0.4rem;

    text-align: right;
    max-width: 60%;
    height: 2.7rem;
}

#button-source-download {
    display: inline-block;
    margin-top: 0.3rem;
}

#button-edit {
    display: inline-block;
    margin-top: 0.3rem;
}

#button-toc-tag {
    display: inline-block;
    margin-top: 0.3rem;
}

/* PATH -----------------------------------------*/

#path {
    position: relative;
    left: 16.5rem;
    display: inline-block;

    margin: 0;
    margin-left: 1.25rem;
    padding: 0;

    color: #777;
    font: normal 1.0em/2 "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
    line-height: inherit;

    opacity: 1;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;

    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#path:after {
    left: -2px;
}

/* SEARCH ---------------------------------------*/

#search {
    position: absolute;
    z-index: 50;
    height: 100%;
    width: 17rem;

    padding: 0.4rem 0 0.4rem 0.4rem;
}

#search i {
    position: absolute;
    top: 1rem;
    left: 1rem;

    height: 0.78rem;
    width: 0.8rem;
    background-size: 5rem;
    display: block;
    opacity: 0.5;
    padding: 0;
}

#search .search_input {
    display: block;
    height: 100%;
    width: 100%;

    border-color: #d4d4d4;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.875rem;
    padding: 0 0.75rem 0 1.625rem;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#search .search_input:focus {
    border-color: #35B5F4 #35B5F4 #30AEEE;
    box-shadow: 0 1px 1px rgba(53, 181, 244, 0.2) inset, 0 0 4px rgba(53, 181, 244, 0.8);
    outline: medium none;
}

#content a.header {
    font-size: 1rem;
}

/* MENU ---------------------------------------*/

#verticalmenu {
    position: fixed;
    top: 2.7rem;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 17rem;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    box-shadow: inset -1px 0 #e3e3e3;
    background: none repeat scroll 0 0 #f9f9f9;
    float: left;
    display: block;
    color: #333;
}

#verticalmenu ul {
    margin: 0px 0px 60px;
    padding: 0px;
    list-style: none;
}

#verticalmenu ul li {
    margin: 0px;
    padding: 0px;
}

#verticalmenu .submenu {
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: block;
    border: none;
}

.menuitem, .menuitem_group {
    display: table;

    width: 100%;
    margin: 0px;
    padding: 3px 10px;

    text-decoration: none;
    font-size: 0.9rem;
}

.menuitem span, .menuitem_group span {
    display: table-cell;
    vertical-align: middle;
}

.menuitem span.menuitem_icon, .menuitem_group span.menuitem_icon {
    width: 1.7rem;
}

.menuitem i, .menuitem_group i {
    width: 1.1rem;
    height: 1.1rem;
    display: block;
    margin: 0 .625rem 0 0;
    vertical-align: middle;
    background-size: 6.6rem;
}

.submenu .menuitem i {
    margin-left: 2.5rem
}

.menuitem:hover, .menuitem_group:hover, .menuitem.selected {
    background-color: #398df0;
    border-color: #318CE4 #2B82DB #2878C7;
    z-index: 1;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.menuitem_group i.svg-toggle {
    float: right;
    margin: 0;
}

/* TOC ---------------------------------------*/

#tocwrapper {
    position: fixed;
    right: 1rem;
    top: 2.7rem;
    bottom: 0;

    height: 100%;
    width: 16rem;

    display: block;
    z-index: 20;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

#tocwrapper ul {
    list-style: none;
    color: #CACBC4;
}

#tocwrapper ul li {
    line-height: 1rem;
}

#tocwrapper ul li ul {
    display: none;
}

#tocwrapper .toc a {
    color: #616161;
    text-decoration: none;
    font-size: 0.75rem;
}

#tocwrapper .toc a:before {
    content: "\26AA";
    margin-right: 0.3rem;
}

#tocwrapper ul li.active > a:before {
    content: "\26AB";
    color: #398df0;
}

#tocwrapper ul li.active ul {
    display: block;
}

#tocwrapper ul li:hover ul {
    display: block;
}

/* BUTTON --------------------------------------------*/

.button {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #696969;
    padding: 0px 8px;
    background-color: #f0f0f0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #f0f0f0;

    cursor: pointer;
    height: 2rem;
}

.button:hover {
    border: 1px solid #8e8e8e;
    background-color: #398DF0;
    color: white;
}

.button .label {
    padding: 0.2rem;
}

#button-menu {
    position: relative;
    left: 17rem;
    height: 2rem;
    float: left;
    display: inline-block;

    font-size: 1.3rem;
    line-height: 1.8rem;

    margin: 0.3rem 0 0 0.4rem;
}

/* CONTENT ------------------------------------*/

#contentwrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 17rem;

    height: 100%;
    z-index: 3;
    padding: 0;
    padding-top: 2.7rem;
    margin: 0;

    border-top: 1px solid #B7BAC0;
    /*box-shadow: 0 1px #F4F4F4 inset, 1px 0 #F4F4F4 inset;*/
    display: block;
    background-color: white;
}

#content {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}

#content a {
    color: #57BFFF;
}

#article {
    padding: 0;
    margin: 0;
    float: left;
    width: 80%;
    background-color: white;
}

#article > * {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}

#article h1:not(:first-child) {
    margin: 0;
    padding: 0.5rem 2.25rem;
    background-color: #f0f0f0;
    margin-bottom: 0.5em;
}


/* EDITOR ------------------------------------*/

#editor {
    height: 0;
    display: none;
}

.CodeMirror {
    height: 100%;
    width: auto;
    overflow-y: hidden;
    font-size: 0.9rem;
}

.CodeMirror-scroll {
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}

#editor-action-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 50;
    padding-right: 1em;

    text-align: right;
}

#button-save {
    display: inline-block;
    margin: 0.4rem;
    font-weight: normal;
    font-size: 1.5rem;

    border: 1px solid #8e8e8e;
    background-color: #398DF0;
    color: white;
}

#button-cancel {
    display: inline-block;
    margin: 5px;

    font-weight: normal;
    font-size: 1.5rem;
}

/* TABLE -------------------------------------*/

table {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E5E5E5;
    border-collapse: separate;
    border-radius: 3px 3px 3px 3px;
    border-spacing: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 1.5em 0;

    /*font: 1em/1.7 "Open Sans",Helvetica,Arial,sans-serif;*/
}

table th, td {
    padding: 0.5em 0.7em;
    text-align: left;
    vertical-align: top;
}

table tr th {
    background: #f5f5f5;
}

tr:last-child > td {
    border-bottom: 0 none;
}

td + td, th + th {
    border-left: 1px solid #E5E5E5;
}

td, tr {
    border-bottom: 1px solid #E5E5E5;
}


th, td {
    padding: 0.4em 0.7em;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #E5E5E5;
}

/* SEARCH RESULTS -----------------------------*/

#search-results {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 0.9rem;
}

#search-results a.search-link {
    font-size: 0.8rem;
}

#search-results a.search-header {
    display: block;

    margin-top: 2rem;
    font-size: 1.5rem;
}

#search-results .search-text p {
    margin-bottom: 0;
}

#search-results .search-text h1,
#search-results .search-text h2,
#search-results .search-text h3 {
    font-size: 1rem;
    margin: 0;
}

#search-results .search-text h1:after {
    display: none;
}

/* DIALOG -------------------------------------*/

#dialog {
    position: absolute;
    top: 3rem;
    width: 60%;
    z-index: 101;
    display: none;

    background-color: white;
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    left: 0;
    right: 0;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#dialog .dialog-title {
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
    text-align: left;

    font-size: 1.2rem;
    font-weight: bold;
}

#dialog .dialog-content {
    overflow-y: scroll;
}

#dialog .dialog-buttons {
    border-top: 1px solid #e3e3e3;
    padding: 10px;
    text-align: right;
}

#dialog #button-dialog-confirm {
    position: relative;
    left: initial;
    right: initial;
    bottom: initial;
    display: inline-block;
    background-color: #398DF0;
    color: white;
}

#dialog #button-dialog-cancel {
    position: relative;
    left: initial;
    right: initial;
    bottom: initial;
    display: inline-block;
}

#dialog-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* DIFF HIGLIGHT ------------------------------*/

.diff span {
    display: block;
    font-family: monospace;
}

.diff .remove {
    width: 100%;
    display: inline-block;
    color: #333;
    background-color: #fee8e9;
    padding: 3px;
    box-sizing: border-box;
}

.diff .add {
    width: 100%;
    display: inline-block;
    color: #333;
    background-color: #ddffdd;
    padding: 3px;
    box-sizing: border-box;
}

/* SPINNER ------------------------------------*/

#article-spinner {
    top: 40%;
    display: block;
}

.sk-spinner-fading-circle.sk-spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.sk-spinner-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-spinner-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 18%;
    height: 18%;
    background-color: #b7b7b7;

    border-radius: 100%;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    animation-fill-mode: both;
}

.sk-spinner-fading-circle .sk-circle2  { transform: rotate(30deg) }
.sk-spinner-fading-circle .sk-circle3  { transform: rotate(60deg) }
.sk-spinner-fading-circle .sk-circle4  { transform: rotate(90deg) }
.sk-spinner-fading-circle .sk-circle5  { transform: rotate(120deg) }
.sk-spinner-fading-circle .sk-circle6  { transform: rotate(150deg) }
.sk-spinner-fading-circle .sk-circle7  { transform: rotate(180deg) }
.sk-spinner-fading-circle .sk-circle8  { transform: rotate(210deg) }
.sk-spinner-fading-circle .sk-circle9  { transform: rotate(240deg) }
.sk-spinner-fading-circle .sk-circle10 { transform: rotate(270deg) }
.sk-spinner-fading-circle .sk-circle11 { transform: rotate(300deg) }
.sk-spinner-fading-circle .sk-circle12 { transform: rotate(330deg) }

.sk-spinner-fading-circle .sk-circle2:before  { animation-delay: -1.1s }
.sk-spinner-fading-circle .sk-circle3:before  { animation-delay: -1.0s }
.sk-spinner-fading-circle .sk-circle4:before  { animation-delay: -0.9s }
.sk-spinner-fading-circle .sk-circle5:before  { animation-delay: -0.8s }
.sk-spinner-fading-circle .sk-circle6:before  { animation-delay: -0.7s }
.sk-spinner-fading-circle .sk-circle7:before  { animation-delay: -0.6s }
.sk-spinner-fading-circle .sk-circle8:before  { animation-delay: -0.5s }
.sk-spinner-fading-circle .sk-circle9:before  { animation-delay: -0.4s }
.sk-spinner-fading-circle .sk-circle10:before { animation-delay: -0.3s }
.sk-spinner-fading-circle .sk-circle11:before { animation-delay: -0.2s }
.sk-spinner-fading-circle .sk-circle12:before { animation-delay: -0.1s }

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0 }
  40% { opacity: 1 }
}


/* FOOOTER ------------------------------------*/

#footer {
    height: 0px;

    display: block;
    float: none;
    clear: both;
}

/* RESPONSIVE LAYOUT ------------------------------*/

/* ## Small PC screen ## */
@media (max-width: 800px) {
    #contentwrapper {
        left: 0;
    }
    #path {
        left: 0;
    }
    #button-menu {
        left: 0;
    }
    #verticalmenu {
        display: none;
    }
    #search {
        display: none;
    }
    body.show-menu #search {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    #article {
        width: 100%;
    }
    #tocwrapper {
        display: none;
    }
}


/* ## Mobile Phones Portrait or Landscape ## */
@media screen and (max-device-width: 640px) {
    html {
        font-size: 25pt;
    }
    .button {
        padding: 0.4rem;
    }
    .button i {
        font-size: 2.5rem;
        height: initial;
    }
    .button .label {
        padding: 0 1rem;
    }
}

@media only screen and (max-device-width: 800px) {
    #contentwrapper {
        left: 0;
    }
    #path {
        left: 0;
    }
    #button-menu {
        left: 0;
    }
    #verticalmenu {
        display: none;
    }
    #header {
        left: 0;
    }
    #search {
        display: none;
    }
    body.show-menu #search {
        display: none !important;
    }
    .menuitem, .menuitem_group {
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 1.2rem;
    }
    #tocwrapper {
        display: none;
        position: fixed;
        right: 0;
        width: 17rem;
        background-color: white;
    }
    #tocwrapper .toc a {
        font-size: 1rem;
    }
    .button {
        background: transparent;
        border: none;
        line-height: 1rem;
        padding: 0;
    }
    #header-action-bar .button:hover {
        color: #398df0;
    }
    .menuitem i, .menuitem_group i {
        width: 2rem;
        height: 2rem;
        background-size: 12rem;
    }
}
 
/* TOGGLE MENU ------------------------------------------------*/

body.hide-menu #search {
    display: none;
}

body.hide-menu #verticalmenu {
    display: none;
}

body.hide-menu #contentwrapper {
    left: 0;
}

body.hide-menu #path {
    left: 0;
}

body.hide-menu #button-menu {
    left: 0;
}

body.show-menu #search {
    display: block;
}

body.show-menu #verticalmenu {
    display: block;
}

/* TOGGLE TOC ------------------------------------------------*/

body.hide-toc #article {
    width: 100%; 
}

body.hide-toc #tocwrapper {
    display: none;
}

body.show-toc #article {
    width: 80%;
}

body.show-toc #tocwrapper {
    display: block;
}

/* TOGGLE EDITOR ----------------------------------------------*/

body.show-editor #content {
    height: 0;
}

body.show-editor #editor {
    height: 100%;
    display: block;
}

body.show-editor #tocwrapper {
    display: none;
}

body.hide-editor #content {
    height: 100%;
}

body.hide-editor #editor {
    height: 0;
    display: none;
}
