@font-face{
    font-family:'Helvetica Neue';
    src: local("Helvetica Neue Light"),local("HelveticaNeue-Light"),url("../fonts/HelveticaNeue-Light.ttf") format("truetype"),url("../fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight:300
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0px;
  padding-top: 3rem;
  height: 100%;
  overflow: hidden;

  /*background-color: #F4F4ED;*/
  /*font: normal 1em/1.3 "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;*/
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 300;
  /*color: #47484f;*/
  color: #39393E;
  word-wrap: break-word;
}


h1 {
  white-space: nowrap;
  font-size: 18pt;
  overflow: hidden;
}

h1:first-child:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  margin-left: 1rem;
  background: #dde3e8;
}

h1,h2,h3 {
  color: #393939;
}

p,h1,h2,h3,li {
}

p {
  font-size: 13pt;
  margin: 0;
  margin-bottom: 1em;
}

ol,ul {
  font-size: 13pt;
}

a {
  text-decoration: none;
  color: inherit;
}

em {
    color: #3492E9;
}

strong { font-weight: bold; }

img {
  text-align: center;
  margin: 0 auto;
  max-width: 640px;

  background-color: white;
  padding: 7px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 

  font-size: 11pt;
}

blockquote {
  border-left: 8px solid #A6A7A1;
  padding: 4px;
  padding-left: 40px;
  margin: 0px;
  margin-bottom: 1em;
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;

  background-color: #DDD;
}

body, #article, #search, #search-input, #contentwrapper, #content, #verticalmenu, .menuitem, .menuitem_group {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#search:before, .menuitem:before, .menuitem_group:before, .menuitem_group:after, .title:before {
    background-image: url("../images/icons.png");
    background-size: 24rem 1rem;
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
}

/* TITLE ----------------------------------------*/

.title:before {
  display: inline-block;
  position: relative;
  left: 0;
  top: 2px;
  margin: 0px 8px 0px 0px;
}

.title {
  padding-left: 5px;
}

.title .divider {
  background-image: url("../images/icons.png");
  background-size: 24rem 1rem;
  background-position: -1rem 0;

  opacity: 0.3;
  display: inline-block;
  height: 1rem;
  width: 1rem;

  position: relative;
  left: 0;
  top: 2px;
  margin: 0px 6px 0px 6px;
}

/* CODE HIGLIGHT --------------------------------*/

p code {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  font-size: 12pt;
  font-weight: normal;
  border: 1px solid #C9CAC3;
}

pre code {
  color: #669081;
}

/* HADER ----------------------------------------*/

#header {
  background: linear-gradient(to bottom, #E9E9E9, #C2C2C2) repeat scroll 0 0 transparent;
  /*opacity: 0.7;*/
  height: 3rem;
  left: 0;
  line-height: 3rem;
  position: fixed;
  right: 0;
  border-bottom: 1px solid #898989;
  top: 0;
  z-index: 5;
}

/* PATH -----------------------------------------*/

#path {
    position: relative;
    float: left;
    /* Overflow is important, we want to make left line visible */
    overflow: visible;

    margin: 0;
    padding: 0 1.25rem;

    color: #47484F;
    font: bold 1.0em/2 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: inherit;
}
#path:before, #path:after {
    background: linear-gradient(to top, #898989, rgba(183, 186, 192, 0) 80%) repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
}
#path:after {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 transparent;
    left: -2px;
}

/* SEARCH ---------------------------------------*/

#search {
  position: relative;
  float: left;
  height: 100%;
  width: 18rem;

  padding: 0.625rem;

  border-right: 1px solid transparent;
}

#search .search_left {
  width: 30px;
  height: 35px;
  float: left;

  background: url("../images/search.png") no-repeat;
}

#search .search_input {
  display: block;
  height: 100%;
  width: 100%;

  border-color: #B2B5BB #BABBC5 #BEBFC6;
  border-image: none;
  border-radius: 1rem 1rem 1rem 1rem;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
  padding: 0 0.75rem 1px 1.625rem;

  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#search .search_input:focus {
  border-color: #35B5F4 #35B5F4 #30AEEE;
  box-shadow: 0 1px 1px rgba(53, 181, 244, 0.2) inset, 0 0 4px rgba(53, 181, 244, 0.8);
  outline: medium none;
}

#search:before {
  left: 1em;
  opacity: 0.5;
  position: absolute;
  top: 1em;
  background-position: -3rem 0;
}

#content a.header {
  font-size: 16pt;
}

/* MENU ---------------------------------------*/

#logo {
  width: 250px;
  height: 70px;

  margin: 30px;
  color: white;
  background: url("../images/logo.png") no-repeat;
}

#verticalmenu {
  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 18rem;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  box-shadow: 0 1px #B7BAC0 inset, 0 2px rgba(0, 0, 0, 0.04) inset;
  border-right: solid 1px #B8B8B8;
  background: none repeat scroll 0 0 #D5DBE2;
  float: left;
  display: block;
  color: black;
}

#verticalmenu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#verticalmenu ul li{
  margin: 0px;
  padding: 0px;
}

#verticalmenu .submenu {
  width: 100%;
  margin: 0px;
  padding: 0px;

  display: block;
  border: none;
}

.menuitem, .menuitem_group {
  margin: 0px;
  padding: 5px 10px 5px 10px;
  display: block;

  text-decoration: none;
  font-size: 11pt;
  /*border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #282828*/
}

.menuitem a, .menuitem_group a {
}

.menuitem_group:after {
  position: relative;
  top: 0em;
  left: 0em;
  float: right;

  content: "";
  opacity: 0.5;
  background-position: -1rem 0;
  margin: 0;
}

.menuitem_group:before, .menuitem:before {
  position: relative;
  top: 0em;
  left: 0em;
  float: left;
  margin: .150rem .625rem 0 0;

  content: "";
  background-position: -1rem 0;
}

.htmlcss:before {
  background-position: -4rem 0;
}

.cpp:before {
  background-position: -5rem 0;
}

.python:before {
  background-position: -6rem 0;
}

.java:before {
  background-position: -7rem 0;
}

.linux:before {
  background-position: -9rem 0;
}

.javascript:before {
  background-position: -10rem 0;
}

.android:before {
  background-position: -11rem 0;
}

.perl:before {
  background-position: -12rem 0;
}

.generalprogramming:before {
  background-position: -13rem 0;
}

.todo:before {
  background-position: -14rem 0;
}

.c:before {
  background-position: -15rem 0;
}

.home:before {
  background-position: -16rem 0;
}

.various:before {
  background-position: -17rem 0;
}

.algorithms:before {
  background-position: -18rem 0;
}

.cryptography:before {
  background-position: -19rem 0;
}

.openbsd:before {
  background-position: -20rem 0;
}

.databases:before {
  background-position: -21rem 0;
}
.compilers:before {
  background-position: -22rem 0;
}
.objective-c:before {
  background-position: -23rem 0;
}
.submenu .menuitem {
  padding-left: 3rem;
}

.menuitem:hover, .menuitem_group:hover, .menuitem.selected {
    background: linear-gradient(to bottom, #65B2FB, #3492E9) repeat scroll 0 0 transparent;
    border-color: #318CE4 #2B82DB #2878C7;
    z-index: 1;

    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 0 1px rgba(255, 255, 255, 0.05) inset, 0 1px rgba(0, 0, 0, 0.05);
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* TOC ---------------------------------------*/

#tocwrapper {
  display: block;
  float: right;
  z-index: 2;
  width: 20%;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

#tocwrapper ul {
  list-style: square;
  color: #CACBC4;
}

#tocwrapper .toc a {
  color: #616161;
  text-decoration: none;
}

#toc-tag {
  position: fixed;
  right: 10px;
  top: 7px;
  z-index: 50;
  display: block;
  font-weight: bold;
}

#source-download {
  position: fixed;
  right: 50px;
  top: 7px;
  z-index: 50;
  display: block;
  font-weight: bold;
}

/* BUTTON --------------------------------------------*/

.button {
  font-size: 20px;
  color: #333333;
  padding: 2px 8px;
  background: -moz-linear-gradient(
      top,
      #f4f4f4 60%,
      #bebebe);
  background: -webkit-gradient(
      linear, left top, left bottom,
      from(#f4f4f4),
      to(#bebebe));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  -moz-box-shadow:
      0px 1px 1px rgba(255,255,255,0.5),
      inset 0px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:
      0px 1px 1px rgba(255,255,255,0.5),
      inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow:
      0px 1px 1px rgba(255,255,255,0.5),
      inset 0px 1px 1px rgba(0,0,0,0.1);
  text-shadow:
      0px 1px 1px rgba(255,255,255,0.8),
      0px -1px 1px rgba(051,051,051,0.1);
}

.button:hover {
  border: 1px solid #8e8e8e;
  -moz-box-shadow:
      0px -5px 1px rgba(255,255,255,0.6),
      inset 0px -1px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow:
      0px 1px 1px rgba(255,255,255,0.6),
      inset 0px 1px 1px rgba(0,0,0,0.4);
  box-shadow:
      0px 1px 1px rgba(255,255,255,0.6),
      inset 0px 1px 1px rgba(0,0,0,0.4);
  text-shadow:
      0px 1px 1px rgba(255,255,255,0.8),
      0px -1px 1px rgba(051,051,051,0.1);
}

/* CONTENT ------------------------------------*/

#contentwrapper {
  position: relative;
  height: 100%;
  z-index: 3;
  padding: 0px;
  margin: 0 0rem 0 18rem;

  border-top: 1px solid #B7BAC0;
  /*box-shadow: 0 1px #F4F4F4 inset, 1px 0 #F4F4F4 inset;*/
  display: block;
  background-color: #F5F4F5;
  background-size: 50px 50px;
 /* background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                   transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                   transparent 75%, transparent) 0 0 / 50px 50px #ac0;
*/
}

#content {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-size: 0.875em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
}

#content a {
  color: #57BFFF;
}

#article {
  padding: 0;
  margin: 0;
  float: left;
  width: 80%;

  border-right: solid 1px #c1c6d0;
  background-color: white;
}

#article > * {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

#article h1:not(:first-child) {
    margin: 0;
    padding: 0.5rem 2.25rem;
    background-color: #DDD;
    margin-bottom: 0.5em;
}

/* TABLE -------------------------------------*/

table {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #D5D5D5;
    border-collapse: separate;
    border-radius: 3px 3px 3px 3px;
    border-spacing: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 1.5em 0;

    /*font: 1em/1.7 "Open Sans",Helvetica,Arial,sans-serif;*/
}

table th, td {
    padding: 0.3em 3em calc(0.3em + 1px);
    text-align: left;
    vertical-align: top;
}

table tr th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #D5D5D5;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: none none solid;
    border-width: 0 0 1px;

    background: linear-gradient(to bottom, #F7F7FA, #F0F0F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

tr:last-child > td {
    border-bottom: 0 none;
}
td + td {
    border-left: 1px solid #E5E5E5;
}
td {
    border-bottom: 1px solid #E5E5E5;
}
th, td {
    padding: 0.3em 0.7em calc(0.3em + 1px);
    text-align: left;
    vertical-align: top;
}

/* FOOOTER ------------------------------------*/


#footer {
  height: 0px;

  display: block;
  float: none;
  clear: both;
}
