.svg-_default {
	background: url("../svg/sprite.svg") 0 0 no-repeat;
}

.svg-_default-dims {
	width: 16px;
	height: 16px;
}

.svg-algorithms {
	background: url("../svg/sprite.svg") 20% 0 no-repeat;
}

.svg-algorithms-dims {
	width: 16px;
	height: 16px;
}

.svg-android {
	background: url("../svg/sprite.svg") 0 20% no-repeat;
}

.svg-android-dims {
	width: 16px;
	height: 16px;
}

.svg-arduinoandsoc {
	background: url("../svg/sprite.svg") 20% 20% no-repeat;
}

.svg-arduinoandsoc-dims {
	width: 16px;
	height: 16px;
}

.svg-c {
	background: url("../svg/sprite.svg") 40% 0 no-repeat;
}

.svg-c-dims {
	width: 16px;
	height: 16px;
}

.svg-compilers {
	background: url("../svg/sprite.svg") 40% 20% no-repeat;
}

.svg-compilers-dims {
	width: 16px;
	height: 16px;
}

.svg-computersciencetheory {
	background: url("../svg/sprite.svg") 0 40% no-repeat;
}

.svg-computersciencetheory-dims {
	width: 16px;
	height: 16px;
}

.svg-cpp {
	background: url("../svg/sprite.svg") 20% 40% no-repeat;
}

.svg-cpp-dims {
	width: 16px;
	height: 16px;
}

.svg-cryptography {
	background: url("../svg/sprite.svg") 40% 40% no-repeat;
}

.svg-cryptography-dims {
	width: 16px;
	height: 16px;
}

.svg-databases {
	background: url("../svg/sprite.svg") 60% 0 no-repeat;
}

.svg-databases-dims {
	width: 16px;
	height: 16px;
}

.svg-electronic {
	background: url("../svg/sprite.svg") 60% 20% no-repeat;
}

.svg-electronic-dims {
	width: 16px;
	height: 16px;
}

.svg-enterpriseplatforms {
	background: url("../svg/sprite.svg") 60% 40% no-repeat;
}

.svg-enterpriseplatforms-dims {
	width: 16px;
	height: 16px;
}

.svg-generalprogramming {
	background: url("../svg/sprite.svg") 0 60% no-repeat;
}

.svg-generalprogramming-dims {
	width: 16px;
	height: 16px;
}

.svg-home {
	background: url("../svg/sprite.svg") 20% 60% no-repeat;
}

.svg-home-dims {
	width: 16px;
	height: 16px;
}

.svg-htmlcss {
	background: url("../svg/sprite.svg") 40% 60% no-repeat;
}

.svg-htmlcss-dims {
	width: 16px;
	height: 16px;
}

.svg-java {
	background: url("../svg/sprite.svg") 60% 60% no-repeat;
}

.svg-java-dims {
	width: 16px;
	height: 16px;
}

.svg-javascript {
	background: url("../svg/sprite.svg") 80% 0 no-repeat;
}

.svg-javascript-dims {
	width: 16px;
	height: 16px;
}

.svg-linux {
	background: url("../svg/sprite.svg") 80% 20% no-repeat;
}

.svg-linux-dims {
	width: 16px;
	height: 16px;
}

.svg-linuxdevelopment {
	background: url("../svg/sprite.svg") 80% 40% no-repeat;
}

.svg-linuxdevelopment-dims {
	width: 16px;
	height: 16px;
}

.svg-objective-c {
	background: url("../svg/sprite.svg") 80% 60% no-repeat;
}

.svg-objective-c-dims {
	width: 16px;
	height: 16px;
}

.svg-openbsd {
	background: url("../svg/sprite.svg") 0 80% no-repeat;
}

.svg-openbsd-dims {
	width: 16px;
	height: 16px;
}

.svg-operatingsystems {
	background: url("../svg/sprite.svg") 20% 80% no-repeat;
}

.svg-operatingsystems-dims {
	width: 16px;
	height: 16px;
}

.svg-otherlanguages {
	background: url("../svg/sprite.svg") 40% 80% no-repeat;
}

.svg-otherlanguages-dims {
	width: 16px;
	height: 16px;
}

.svg-perl {
	background: url("../svg/sprite.svg") 60% 80% no-repeat;
}

.svg-perl-dims {
	width: 16px;
	height: 16px;
}

.svg-python {
	background: url("../svg/sprite.svg") 80% 80% no-repeat;
}

.svg-python-dims {
	width: 16px;
	height: 16px;
}

.svg-search {
	background: url("../svg/sprite.svg") 100% 0 no-repeat;
}

.svg-search-dims {
	width: 16px;
	height: 16px;
}

.svg-security {
	background: url("../svg/sprite.svg") 100% 20% no-repeat;
}

.svg-security-dims {
	width: 16px;
	height: 16px;
}

.svg-smarthome {
	background: url("../svg/sprite.svg") 100% 40% no-repeat;
}

.svg-smarthome-dims {
	width: 16px;
	height: 16px;
}

.svg-softskills {
	background: url("../svg/sprite.svg") 100% 60% no-repeat;
}

.svg-softskills-dims {
	width: 16px;
	height: 16px;
}

.svg-softwarearchitecture {
	background: url("../svg/sprite.svg") 100% 80% no-repeat;
}

.svg-softwarearchitecture-dims {
	width: 16px;
	height: 16px;
}

.svg-todo {
	background: url("../svg/sprite.svg") 0 100% no-repeat;
}

.svg-todo-dims {
	width: 16px;
	height: 16px;
}

.svg-toggle {
	background: url("../svg/sprite.svg") 20% 100% no-repeat;
}

.svg-toggle-dims {
	width: 16px;
	height: 16px;
}

.svg-various {
	background: url("../svg/sprite.svg") 40% 100% no-repeat;
}

.svg-various-dims {
	width: 16px;
	height: 16px;
}

.svg-varioustechnologies {
	background: url("../svg/sprite.svg") 60% 100% no-repeat;
}

.svg-varioustechnologies-dims {
	width: 16px;
	height: 16px;
}

