<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <title>Knowledges | Home</title>

    <link rel="stylesheet" href="/static/css/codemirror.css" media="screen,projection"/>
    <link rel="stylesheet" href="/static/css/sprite.css" media="screen,projection"/>
    <link rel="stylesheet" href="/static/css/main.css" media="screen,projection"/>
    <link rel="stylesheet" href="/static/css/solarizedlight.css" media="screen,projection"/>

    <script type="text/javascript" src="/static/js/jquery.js" ></script>
    <script type="text/javascript" src="/static/js/main.js" ></script>
</head>
<body>
    <header id="header">
        <form id="search" action="/search" method="POST">
            <i class="svg-search"></i>
            <input name="term" class="search_input" placeholder="Search..." />
            <div class="search_reset"></div>
        </form>
        <div id="button-menu" class="button"><i class="demo-icon icon-menu"></i></div>
        <h1 id="path"><a href="/">{{ title|safe }}</a></h1>
        <div id="header-action-bar">
            <div id="button-edit" class="button"><i class="demo-icon icon-pencil"></i></div>
            <div id="button-source-download" class="button"><i class="demo-icon icon-download"></i></div>
            <div id="button-toc-tag" class="button"><i class="demo-icon icon-menu"></i></div>
        </div>
    </header>
    <section id="verticalmenu" class="well">
        {% include "menu.html" %}
    </section>
    <section id="contentwrapper">
        {% include "spinner.html" %}
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="editor">
            <textarea id="editor-textarea"></textarea>
            <div id="editor-action-bar">
                <div id="button-save" class="button"><i class="demo-icon icon-upload"></i><span class="label">Save</span></div>
                <div id="button-cancel" class="button"><i class="demo-icon icon-block"></i><span class="label">Cancel</span></div>
            </div>
        </div>
    </section>
    <section id="footer">
    </section>

    <div id="dialog-overlay"></div>
    <div id="dialog">
        <div class="dialog-title">Confirm changes</div>
        <div class="dialog-content"></div>
        <div class="dialog-buttons">
            <div id="button-dialog-confirm" class="button"><i class="demo-icon icon-upload"></i>Confirm</div>
            <div id="button-dialog-cancel" class="button"><i class="demo-icon icon-block"></i>Cancel</div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/mathjax/MathJax.js?config=default"></script>
</body>
