    <ul class="menu">
    {% for item in menu|sort %}
        {% if menu[item] is mapping %}
        <li><a class="menuitem_group {{ titleToStyleName(item) }}" id="item-{{ loop.index }}" href="#">
                <span class="menuitem_icon"><i class="svg-_default svg-{{ titleToStyleName(item) }}"></i></span>
                <span class="menuitem_title">{{ item|replace('_', ' ') }}</span>
                <span class="menuitem_toggle"><i class="svg-toggle"></i></span>
            </a>
            <ul class="submenu" style="display: none;">
            {% for subitem in menu[item] | sort %}
                <li><a class="menuitem {{ titleToStyleName(item) }}" href="/articles/{{ item }}/{{ subitem }}">
                        <span class="menuitem_icon"><i class="svg-_default svg-{{ titleToStyleName(item) }}"></i></span>
                        <span class="menuitem_title">{{ subitem|replace('_', ' ') }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% else %}
        <li><a class="menuitem {{ titleToStyleName(item) }}" id="item-{{ loop.index }}" href="/articles/{{ item }}/{{ menu[item] }}">
                <span class="menuitem_icon"><i class="svg-_default svg-{{ titleToStyleName(item) }}"></i></span>
                <span class="menuitem_title">{{ item|replace('_', ' ') }}</span>
            </a>
        {% endif %}
    {% endfor %}
    </ul>
