{% extends "base.html" %}
{% block body %}
<div id="search-results">
    <h1>Search results</h1>
    <div class="search-result">
        {% for result in results: %}
            <a class="search-header" href="/{{ result['path'] }}">{{ result['title'] }}</a>
            <a class="search-link" href="{{ result['path'] }}">/{{ result['path'] }}</a>
            <div class="search-text">{{ result['text'] | safe }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
